.custom-checkbox {
  position: relative;
  padding-left: 24px;
  padding-bottom: 15px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}

.custom-checkbox-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  border: 3px solid #ad80b5;
}

.custom-checkbox-icon svg {
  width: 100%;
  height: 100%;
  display: block;
  visibility: hidden;
}

.custom-checkbox input:checked + .custom-checkbox-icon svg {
  visibility: visible;
}
