.card-wrapper {
  width: 165px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  
}

.card-wrapper-title-with-img {
  width: 165px;
  height: 50px;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
