.popup {
  width: 350px;
  height: 335px;
  position: fixed;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 9px 8px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(177.67deg, rgb(250, 255, 0) -48.338%, rgb(190, 41, 41) 69.269%),
    rgb(255, 0, 0);
  padding: 20px;
  z-index: 1;
}

.red-bg {
  background: linear-gradient(219.81deg, rgb(221, 31, 65) -2.039%, rgb(106, 12, 29) 100%);
  position: relative;
  bottom: 20px;
}

.purple-bg {
  background: linear-gradient(203.89deg, rgb(68, 0, 121) -15.007%, rgb(123, 2, 96) 60.797%),
    rgb(196, 196, 196);
  position: relative;
  bottom: 13px;
}

.blue-bg {
  background: linear-gradient(203.89deg, rgb(0, 99, 121) -15.007%, rgb(62, 2, 123) 60.797%),
    rgb(196, 196, 196);
  position: relative;
  bottom: 5px;
}
