.wrapper {
  width: 100%;
  height: 89.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 80px;
}

.home-wrapper {
  background-image: url('src/assets/images/under-blue-flame-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-wrapper__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('src/assets/images/blue-flame-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.win-spin-icon {
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: 2;
}

.search-spin-icon {
  position: absolute;
  top: 16.5%;
  left: 32%;
  z-index: 2;
}

.rectangle {
  width: 350px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(180deg, #ebc91e 2.199%, rgb(190, 41, 41) 60.803%), rgb(255, 0, 0);
}

.flame-svg-wrapper {
  margin-top: 340px;
}

.flame-svg {
  display: block;
}

.deposit-and-play {
  margin-bottom: 15px;
  font-family: 'BadaBoom';
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #05071a;
}

.welcome-bonus-wrapper {
  width: 310px;
  height: 95px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  clip-path: polygon(0 9%, 100% 0, 97% 100%, 0 90%);
  background: linear-gradient(219.81deg, rgb(221, 31, 65) -2.039%, rgb(106, 12, 29) 100%);
}

.welcome-bonus-description-wrapper {
  width: 140px;
  height: 60px;
}

.welcome-bonus-title {
  color: rgb(255, 255, 255);
  font-family: 'Merriweather', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
}

.free-spin-bonus {
  color: rgb(252, 194, 17);
  font-family: 'Merriweather', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
}

.line-divider {
  height: 70px;
  border: 0.1px solid white;
  opacity: 0.1;
  position: relative;
  left: 10px;
}

.arrow-down-wrapper {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selects-wrapper {
  width: 310px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.start-button {
  width: 310px;
  height: 50px;
  position: relative;
  bottom: 5px;
  background: rgb(252, 194, 17);
  clip-path: polygon(0 0, 101% 0%, 97% 100%, 3% 100%);
  border: 2px solid rgb(252, 194, 17);
  border-radius: 14px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #05071a;
  font-family: 'Merriweather', sans-serif;
}

.select-value {
  width: 150px;
  height: 50px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 110px;
  box-shadow: 0px 5px 15px 0px rgba(76, 62, 102, 0.15);
  background: rgb(224, 225, 234) url('src/assets/images/arrow-select-down.svg') no-repeat right 15px
    center;
  padding: 15px 30px 15px 15px;
  color: rgb(5, 7, 26);
  font-family: 'Merriweather', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  outline: none;
  cursor: pointer;
  appearance: none;
}

.spinner-wrapper {
  width: 150px;
  height: 50px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 110px;
  box-shadow: 0px 5px 15px 0px rgba(76, 62, 102, 0.15);
  background: rgb(224, 225, 234);
  filter: grayscale(100%);
}

.game-variants-wrapper {
  width: 100%;
  height: 120px;
  background: #040719;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
    margin-top: 15px;
  color: rgb(255, 255, 255);
  font-family: 'Merriweather', sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.green-card {
  background: #4d583d url('src/assets/images/flame-card.svg') no-repeat left center;
}

.red-card {
  background: #7a3c3e url('src/assets/images/flame-card.svg') no-repeat left center;
}

.gray-card {
  background: #35474d url('src/assets/images/flame-card.svg') no-repeat left center;
}

.purple-card {
  background: #5b3d67 url('src/assets/images/flame-card.svg') no-repeat left center;
}

.slider-wrapper {
  width: 375px;
  height: 85px;
  display: flex;
  align-items: center;
  background: #121828 url('src/assets/images/slider-bg.png') no-repeat left center;
  overflow: hidden;
}

.recent-winners {
  width: 200px;
  display: flex;
  position: relative;
  right: 20px;
  font-family: 'BadaBoom';
  font-weight: 400;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: white;
}

.winners_color-yellow {
  color: #f2b735;
}

.marquee-font {
  color: white;
}

.arrow-down-cursor {
  cursor: pointer;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background: #121828 url('src/assets/images/menu-skull-bg.png') no-repeat left -145% top 100%;
  z-index: 2;
  color: white;
}

.menu-content {
  text-align: center;
}

.search {
  width: 340px;
  height: 45px;
  border-radius: 8.85px;
  background: rgb(35, 36, 50) url('src/assets/icons/search.svg') no-repeat left 10px center;
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #b1b1b1;
  border: none;
  outline: none;
  padding-left: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.search::before {
  content: url('src/assets/icons/search.svg');
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-wrapper {
  width: 100%;
  height: 470px;
}

.win-spin-menu {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 10px 0 10px 15px;
}

.register-btn-header {
  width: 188px;
  height: 40px;
  border-radius: 7px;
  background: rgb(252, 194, 17);
  color: rgb(5, 7, 26);
  clip-path: polygon(0 0, 100% 0%, 96% 100%, 3% 100%);
}

.log-in-btn-header {
  width: 120px;
  height: 40px;
  border-radius: 7px;
  background: rgb(96, 102, 120);
  color: rgb(255, 255, 255);
  clip-path: polygon(6% 0, 93% 1%, 100% 100%, 0 100%);
}

.header-search-wrapper {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  height: 35px;
  margin: 0 auto;
}

.language-wrapper {
  width: 130px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-menu-wrapper {
  display: flex;
  justify-content: space-between;
}
