.language-switcher {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

select {
  appearance: none;
  padding: 5px;
  border: none;
  background: transparent;
  outline: none;
  color: transparent;
  background: #111827 url('src/assets/images/arrow-select-down.svg') no-repeat right 15px center;
}



.select-lang > option {
  color: #fff;
}
