.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #111827;
  position: relative;
  z-index: 3;
}

.size-btn {
  width: 130px;
  height: 45px;
}

.sign-btn {
  border: none;
  border-radius: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  cursor: pointer;
}

.sign-in-btn {
  clip-path: polygon(3% 0%, 88% 0%, 93% -83%, 101% 90%, 90% 100%, 34% 99%, 0% 98%, 0% 64%);
  border-radius: 15px;
  background: rgba(79, 92, 105, 0.77);
  color: white;
}

.sign-up-btn {
  box-shadow: 0px 0px 24px 0px rgba(255, 77, 0, 0.87);
  border-radius: 15px;
  background: rgb(252, 194, 17);
  color: black;
}

.menu-icon {
  position: relative;
  bottom: 10px;
}
