.menu-card {
  margin: 10px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 8.85px;
  background: linear-gradient(
    90deg,
    rgb(41, 42, 55) 2.37%,
    rgba(39, 40, 48, 0.1) 68.474%,
    rgba(39, 39, 46, 0) 100%
  );
}

.card-title {
  margin-left: 30px;
}
