* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'BadaBoom';
  src:
    url('./assets/fonts/badaboom-bb.woff2') format('woff2'),
    url('./assets/fonts/badaboom-bb.woff') format('woff'),
    url('./assets/fonts/badaboom-bb.ttf') format('ttf');
}

@font-face {
  font-family: 'Merriweather';
  src:
    url('./assets/fonts/Merriweather-Regular.ttf') format('ttf');
}
